{% extends "base_main.html" %}

{% block content %}
	<div class="row">
		<h2>SOFTWARE USE AGREEMENT FOR CELLSIG (CELL SIGNALING ANALYZER).</h2>
				
		<p>The CellSig (Cell Signaling) Software, proprietary to the National Cancer Institute (NCI), Cancer Data Science Laboratory, aims to help biologists to study the cellular response to signaling molecules (e.g., cytokines, chemokines, and growth factors), leveraging the public expression data from treatment experiments deposited in the NCBI GEO and ArrayExpress databases. A user of the CellSig Software (“Software User”) can query cell signals and analyze genes induced or repressed (SEARCH module) and can also input a gene expression profile, and analyze the enriched signals, leveraging the treatment response profiles collected (RUN module).</p>
		
		<p>Software User agrees to: </p>
		<ul style="padding-left:2em">
			<li>1, Use the CellSig Software for non-profit, research purposes only. Any other use, including any use by a for-profit entity, requires a separate trial or complete license from the NCI by email Dr. Peng Jiang (<script type="text/javascript">print_mail_to_link("peng.jiang", "nih.gov")</script>) and Kevin Chang (<script type="text/javascript">print_mail_to_link("changke", "mail.nih.gov")</script>);</li>
			<li>2, Maintain possession and control of the software and not to distribute the CellSig Software to any third-parties (i.e. non-registered user);</li>
			<li>3, Acknowledge the <a href="https://ccr.cancer.gov/cancer-data-science-laboratory/peng-jiang" target="blank_">laboratory of Dr. Peng Jiang</a> in the NCI Cancer Data Science Laboratory as the source of the CellSig Software in all oral and written public disclosures and publications; and</li>
			<li>4, Use the CellSig Software in accordance with all applicable laws, rules and regulations, and policies.</li>
		</ul>
		
		<p>NCI MAKES NO REPRESENTATIONS AND EXTENDS NO WARRANTIES OF ANY KIND, EITHER EXPRESSED OR IMPLIED. THERE ARE NO EXPRESS OR IMPLIED WARRANTIES OF MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE, OR THAT THE USE OF THE SOFTWARE WILL NOT INFRINGE ANY PATENT, COPYRIGHT, TRADEMARK, OR OTHER PROPRIETARY RIGHTS. Unless prohibited by law, Software User assumes all liability for claims for damages against it by third parties which may arise from its use of the software.</p>
	</div>
{% endblock %}
