{% extends "base_main.html" %}

{% block head %}
{% endblock %}

{% block content %}

<div class="row">
	<h2>Login</h2>
	
	{% if form.errors %}
		<p>If you forget your account information, <a href="/accounts/password_reset">click here</a> to reset</p>
	{% endif %}
	    
	<form method="post" autocomplete="off">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit">Login</button>
	</form>
</div>


<div class="row">
	<h2>WEBSITE ACCESS DISCLAIMER</h2>
	
	<ul style="padding-left:2em">
		<li>1, You are accessing a U.S. Government information system, which includes (1) this computer, (2) this computer network, (3) all computers connected to this network, and (4) all devices and storage media attached to this network or to a computer on this network. This information system is provided for U.S. Government-authorized use only.</li>
		<li>2, Unauthorized or improper use of this system may result in disciplinary action, as well as civil and criminal penalties.</li>
		<li>3, By using this information system, you understand and consent to the following:
			<ul style="padding-left:2em">
			<li>i. You have no reasonable expectation of privacy regarding any communication or data transiting or stored on this information system. At any time, and for any lawful Government purpose, the government may monitor, intercept, and search and seize any communication or data transiting or stored on this information system.</li>
			<li>ii. Any communication or data transiting or stored on this information system may be disclosed or used for any lawful Government purpose.</li>
			</ul>
		</li>
	</ul>
</div>

{% endblock %}