{% extends "base_main.html" %}

{% block content %}

<div class="row">

	
	<div class="slot-item only-SI large-5 columns">
	<h2>Ask scientific questions and report server bugs</h2>
	
		<div class="content">
			<h4>
				<a href="https://ccr.cancer.gov/cancer-data-science-laboratory/peng-jiang" target="_blank">Peng Jiang</a>
				<br>
				Stadtman Tenure-track Investigator
				<br><br>
				<a href="https://ccr.cancer.gov/cancer-data-science-laboratory/" target="_blank">Cancer Data Science Lab</a>
				<br>
				<a href="https://ccr.cancer.gov/" target="_blank">Center for Cancer Research</a>
				
			</h4>
			
			<h4>
				Email: <script type="text/javascript">print_mail_to_link("peng.jiang", "nih.gov")</script>
			</h4>
			
		</div>
	</div>

	<div class="slot-item only-SI large-5 columns">
	<h2>Ask data curation questions</h2>
	
		<div class="content">
			<h4>
				<a href="https://ccr.cancer.gov/cancer-data-science-laboratory/peng-jiang" target="_blank">Yu Zhang</a>
				<br>
				Graduate student
				<br><br>
				<a href="https://www.oncology.hku.hk/" target="_blank">Department of Clinical Oncology</a>
				<br>
				<a href="https://www.hku.hk/" target="_blank">The University of Hong Kong</a>
				
			</h4>
			
			<h4>
				Email: <script type="text/javascript">print_mail_to_link("u3005178", "connect.hku.hk")</script>
			</h4>
			
		</div>
	</div>

</div>
{% endblock %}
