{% extends "base_main.html" %}

{% block head %}
{% load static %}

{% endblock %}


{% block content %}

<div class="row">

<h2>CytoSig prediction model</h2>
<a href="https://github.com/data2intelligence/CytoSig" target="_blank">Download from Github</a>
<br><br>
Prerequisite package: <a href="https://github.com/data2intelligence/ridge_significance" target="_blank">ridge_significance</a>
<br><br>

<h2>Human cytokine response data</h2>
<a href="https://data.mendeley.com/datasets/4fyw6y3mg4" target="_blank">Download from Mendeley</a>
<br><br>

</div>
<br>

{% endblock %}
