{% extends "base_main.html" %}

{% block head %}
{% load static %}
{% endblock %}

{% block content %}

<div class="row">
<h2>Tutorial</h2> <a href="https://hpc.nih.gov/~Jiang_Lab/CytoSig/CytoSig help.pdf" target="_blank">Download with this link</a>

<br><br>

<h2>Citation</h2>
<b>Systematic Investigation of Cytokine Signaling Activity at the Tissue and Single-Cell Level</b>
<br>
<a href="https://ccr.cancer.gov/cancer-data-science-laboratory/peng-jiang" target="_blank">Peng Jiang</a>*#, Yu Zhang*, Beibei Ru*, Yuan Yang, Trang Vu, Paul Rohit, Amer Mirza, Grégoire Altan-Bonnet, Lingrui Liu, Eytan Ruppin, Lalage Wakefield, Kai W. Wucherpfennig#. <i>Nature Methods</i>, Accepted 
<br>
<a href="" target="_blank">Pubmed</a>|<a href="" target="_blank">Read the paper</a>|<a href="" target="_blank">PDF</a> 
<br><br>

</div>

{% endblock %}