{% extends "base_main.html" %}

{% block head %}
{% load static %}

{% endblock %}


{% block content %}

<div class="row">
<p>

The CellSig (<b>Cell Sig</b>naling) platform aims to help biologists to study the cellular response to signaling molecules (e.g., cytokines, chemokines, and growth factors), leveraging the public expression data from treatment experiments deposited in the NCBI GEO and ArrayExpress databases. You can query cell signals and analyze genes induced or repressed (<a href="/association/search/" target="_blank">SEARCH module</a>). You can also input a gene expression profile, and analyze the enriched signals, leveraging the treatment response profiles collected (<a href="/profiler/task_upload/" target="_blank">RUN module</a>).</p>
</div>
<br>

{% endblock %}
