{% extends "base_main.html" %}

{% block head %}
{% load static %}

{% endblock %}


{% block content %}

<div class="row">

<div class="slot-item only-SI large-7 columns">
<p>
The CytoSig (<b>Cyto</b>kine <b>Sig</b>naling) platform aims to help biologists to study the cellular response to signaling molecules (e.g., cytokines, chemokines, and growth factors), leveraging the public expression data from treatment experiments deposited in the NCBI GEO and ArrayExpress databases. You can query cell signals and analyze genes induced or repressed (<a href="/association/search/" target="_blank">SEARCH module</a>) (Usage 1). You can also input a gene expression profile, and analyze the enriched signals, leveraging the treatment response profiles collected (<a href="/profiler/task_upload/" target="_blank">RUN module</a>) (Usage 2).
</p>
</div>
				
<div class="slot-item only-SI large-5 columns">
<p>
<img src="{% static 'img/Usage.png' %}" width="100%">
</p>
</div>

</div>
<br>

{% endblock %}
