{% extends "base_main.html" %}

{% block head %}
{% load static %}

{% endblock %}


{% block content %}

<div class="row">
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<p>Please upload a matrix file with columns as samples and rows as genes. The platform will predict the activities of signaling molecules in our collection. The input value separator should be the tab space, and the gene names should follow the standard gene symbols. The platform accepts Gzip files as input. Please see a <a href="/download/GSE147507.diff.gz/">sample file here</a>. The file size should be smaller than {{max_upload_size}}MB, and the number of samples should be less than {{max_sample_count}}. If you need to analyze more samples, please <a href="/download/" target="_blank">download</a> our software and run locally.</p>
		<p>Note: We recommend input differential profiles between the two conditions. If your data is from a collection of samples without pairs, please mean-centralize the value of each gene across all samples.</p>
		
		{{ form.as_p }}
		<button type="submit">Submit</button>
	</form>
</div>

{% endblock %}
